@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: black;
  color: white;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px 0 50px;
}

.logoImg {
  height: 60px;
}

.navlist {
  display: flex;
  list-style-type: none;
  gap: 50px;
  font-size: 24px;
}

.nav-items {
  color: white;
  text-decoration: none;
}

.nav-items:hover {
  color: green;
}

footer {
  bottom: 0;
  left: 25%;
  color: white;
}

.footer-container {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.support-container {
  display: flex;
  border-top: 1px solid green;
  flex-flow: wrap;
  gap: 100px;
}

.heading {
  padding: 10px  0;
}

.news {
  text-align: center;
}

input[type='email'] {
  padding: 10px;
}

input[type='submit'] {
  background: rgb(240, 8, 8);
  border: none;
  color: white;
  padding: 10px;
}

.list {
  list-style-type: none;
}

.social {
  display: flex;
  padding-top: 20px;
  margin-top: 40px;
  justify-content: center;
}

/* ///// COMMENTS POP-UP ///// */

.top-container {
  padding-top: 30px;
  padding-bottom: 25px;
}

.comments-wrapper {
  background-color: rgba(34, 34, 34, 0.25);
}

.image-and-download {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.tv-show-image {
  width: 60%;
  max-width: 400px;
}

.download-btn {
  width: 60%;
  max-width: 400px;
  margin-top: 10px;
  background-color: green;
  border: none;
  padding: 10px;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.close-btn {
  background: none;
  border: none;
  color: green;
  font-weight: 700;
  font-size: 3em;
  position: absolute;
  right: 0;
  padding-right: 5%;
  margin-bottom: 10px;
}

.tv-show-info {
  margin-top: 30px;
  padding: 0 20%;
}

.tv-show-title {
  font-size: 25px;
  margin-bottom: 20px;
}

.tv-shows-genres {
  margin-bottom: 25px;
}

.lang-and-rating {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.summary-div {
  text-align: justify;
}

/* [MEDIA QUERIES] COMMENTS POP-UP */

@media only screen and (min-width: 800px) {
  .top-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    margin-left: 10px;
  }

  .tv-show-info {
    margin-top: 0;
    padding: 20px 5% 0 0;
    max-width: 550px;
  }

  .tv-show-image {
    width: 100%;
    max-width: 400px;
  }

  .download-btn {
    width: 100%;
  }
}
