@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: black;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px 0 50px;
}

.logoImg {
  height: 60px;
}

.navlist {
  display: flex;
  list-style-type: none;
  gap: 50px;
  font-size: 24px;
}

.nav-items {
  color: white;
  text-decoration: none;
}

.nav-items:hover {
  color: green;
}

.section {
  display: grid;
  grid-template-columns: 3fr;
  gap: 20px;
}

/* .grid-items {
  display: flex;
  flex-direction: column;
} */

footer {
  position: fixed;
  bottom: 0;
  left: 25%;
  color: white;
}

.footer-container {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.support-container {
  display: flex;
  border-top: 1px solid green;
  flex-flow: wrap;
  gap: 100px;
}

.heading {
  padding: 10px  0;
}

.news {
  text-align: center;
}

input[type='email'] {
  padding: 10px;
}

input[type='submit'] {
  background: rgb(240, 8, 8);
  border: none;
  color: white;
  padding: 10px;
}

.list {
  list-style-type: none;
}

.social {
  display: flex;
  padding-top: 20px;
  margin-top: 40px;
  justify-content: center;
}
